.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  .navbar-brand{
    padding-left: 2%;
  }
  
  .navbar .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar .navbar-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .navbar .navbar-links a {
    color: white;
    text-decoration: none;
  }
  
  .navbar .navbar-links a:hover {
    text-decoration: underline;
  }
  